body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li{
  list-style: none;
  background: darkcyan;
  padding: 9px;
  box-shadow: 5px 5px 5px #2727b8;
  display: flex;
  justify-content: space-between;
  width: 11%;
  text-align: left;
  margin-top: 15px;
  color: white;
  font-weight: bold;
  border-radius: 15px;
}
span{
  color: red;
  cursor: pointer;
}
